.cookie-warning {
  position: fixed;

  padding: 16px 0;

  font-size: 15px;

  z-index: 1;

  background: white;

  bottom: 0;
  left: 0;
  width: 100%;
}

.cookie-container {
  width: 85%;
  margin: 0 auto;

  > * {
    flex: 1;
  }
}

.more-btn {
  margin: 0 16px;

  button {
    width: 190px;
    color: #206ecf;
    border-color: #206ecf;
  }
}

.policy-btn {
  button {
    font-weight: 400;

    padding: 0;
    color: #0d122b;
  }
}
