.features {
  width: 100%;

  display: flex;
  justify-content: space-between;

  div:nth-child(1) {
    margin-top: 15%;
  }

  div:nth-child(2) {
    margin-top: 10%;
  }

  div:nth-child(3) {
    margin-top: 5%;
  }

  div:nth-child(4) {
    margin-top: 10%;
  }

  div:nth-child(5) {
    margin-top: 15%;
  }
}

.feature {
  width: 184px;
  height: 184px;

  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
  border-radius: 32px;

  display: flex;

  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 800px) {
    width: 140px;
    height: 140px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  @media only screen and (max-width: 700px) {
    width: 100px;
    height: 100px;

    img {
      width: 60px;
      height: 60px;
    }
  }
  @media only screen and (max-width: 500px) {
    width: 65px;
    height: 65px;

    border-radius: 8px;

    img {
      width: 36px;
      height: 36px;
    }
  }
}
