.hero-section-background {
  background: url("/images/background.svg");
  background-repeat: no-repeat;

  overflow: hidden;
  position: relative;
}

.hero-section {
  text-align: center;

  color: white;

  padding-top: 140px;

  button {
    margin-top: 24px;
    margin-bottom: 48px;
  }
}

.upper-title {
  font-size: 26px;
  font-weight: 600;

  @media only screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.title {
  font-size: 72px;
  font-weight: 700;

  width: 80%;

  margin: 0 auto;
  margin-top: 24px;

  @media only screen and (max-width: 500px) {
    font-size: 32px;
    width: 95%;
  }
}

.subtitle {
  width: 60%;

  font-size: 20px;

  margin: 0 auto;
  margin-top: 16px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    width: 90%;
  }
}

.looper {
  position: absolute;
  right: -70px;
  top: 230px;

  pointer-events: none;

  @media only screen and (max-width: 500px) {
    width: 600px;
    height: 700px;
  }
}

.watch-video {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 16px;

    padding: 16px 32px;

    span {
      margin-left: 10px;
      line-height: 23px;
    }
  }

  @media only screen and (max-width: 800px) {
    > img {
      width: 750px;
      height: 400px;
    }
  }

  @media only screen and (max-width: 700px) {
    > img {
      width: 500px;
      height: 250px;
    }
  }

  @media only screen and (max-width: 500px) {
    > img {
      width: 400px;
      height: 200px;
    }
  }
}

.schedule-demo-btn {
  button {
    background: white;
    color: #1b1e22;
  }
}
