.features-section {
  width: 100%;
}

.features-list {
  margin-bottom: 56px;
}

.upper-title {
  font-weight: 700;
  font-size: 24px;

  color: #206ecf;
}

.title {
  font-weight: 600;
  font-size: 40px;

  color: #1f2024;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;

  color: #6b788a;
}
