.header {
  background: rgba(0, 0, 0, 0.05);
  color: white;
  padding: 15px 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  margin-right: 10px;
}

.buttons {
  > * {
    margin: 0 12px;
  }
}
